# docker-compose.yml

services:
  mssql-2019:
    image: mcr.microsoft.com/mssql/server:2019-latest
    platform: linux/amd64
    container_name: mssql-2019
    environment:
      SA_PASSWORD: ${SA_PASSWORD}
      ACCEPT_EULA: Y
      MSSQL_PID: Developer
      MSSQL_MEMORY_LIMIT_MB: 4096
    ports:
      - "1433:1433"
    volumes:
      - ./data:/var/opt/mssql/data
    restart: unless-stopped

volumes:
  data:
